*.cache
*.log
*.orig
*.sublime-workspace
*.suo
*.user
*_NCrunch*
*_ReSharper*
_ReSharper*
.dotnetcli
.vs
artifacts
bin
obj
out
packages
project.lock.json
TestResult.xml
!3rdparty/*/bin
lint.db
BenchmarkDotNet.Artifacts
.DS_Store
thumbs.db
