*.cache
*.coverage
*.idea
*.log
*.orig
*.sublime-workspace
*.suo
*.user
*_NCrunch*
*_ReSharper*
_ReSharper*
.dotnetcli
.vs
.DS_Store
artifacts
bin
coverage.*
lint.db
obj
out
packages
project.lock.json
thumbs.db
BenchmarkDotNet.Artifacts
TestResult.xml
UpgradeLog*.htm
!3rdparty/*/bin
