<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeProjects" Description="Code analysis rules for JustSaying Code." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1515" Action="None" />
  </Rules>
</RuleSet>
