<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="services.configuration.when.getting.string.from.configurationfile" value="StringValue"/>
    <add key="services.configuration.when.getting.int.from.configurationfile" value="10"/>
    <add key="services.configuration.when.getting.bool.from.configurationfile" value="true"/>
  </appSettings>
</configuration>
