<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  
  <variable name="logdir" value="${basedir}..\logs" />
  <variable name="sortabledate" value="${date:format=yyyyMMddHH00}" />
  <variable name="levelspecficlogfilename" value="orderengine-${sortabledate}-${level:lowercase=true}.log" />
  <variable name="loggerspecificlogfilename" value="orderengine-${sortabledate}-${logger:lowercase=true:shortName=true}.log" />
  <variable name="standardlayout" value="${longdate} ${level} ${logger} ${message}" />
  <variable name="exceptionlayout" value="${standardlayout} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />

  <targets async="true">
    <target
         name="error-log"
         xsi:type="File"
         fileName="${logdir}\${levelspecficlogfilename}"
         layout="${exceptionlayout}"
         archiveFileName="${logdir}\${levelspecficlogfilename}"
         archiveEvery="Hour"
         maxArchiveFiles="8784"
         concurrentWrites="false"
         keepFileOpen="false"
      />

    <target
         name="level-specfic-log"
         xsi:type="File"
         fileName="${logdir}\${levelspecficlogfilename}"
         layout="${standardlayout}"
         archiveFileName="${logdir}\${levelspecficlogfilename}"
         archiveEvery="Hour"
         maxArchiveFiles="8784"
         concurrentWrites="true"
         keepFileOpen="false"
      />
      
      <target
         name="logger-specfic-log"
         xsi:type="File"
         fileName="${logdir}\${loggerspecificlogfilename}"
         layout="${standardlayout}"
         archiveFileName="${logdir}\${loggerspecificlogfilename}"
         archiveEvery="Hour"
         maxArchiveFiles="8784"
         concurrentWrites="true"
         keepFileOpen="false"
      />
  </targets>
  <rules>
    <!-- 
      the order here is important. always always log errors to the error log. always. 
      after that log them to whereever else you want baby. user final="true" 
      to stop messages from entering other logs
    -->
    <logger name="*" minlevel="Error" writeTo="error-log" />
    
    <!-- 
      output from classes we actually like
    -->
    
    <!-- 
    	these are the catch everything else rules. both do exactly the same thing, but it makes it easy to 
      disable debug and trace logs in production
    -->
    <logger name="*" minlevel="Info" writeTo="level-specfic-log" />
    <logger name="*" levels="Debug,Trace" writeTo="level-specfic-log" />
    
  </rules>
</nlog>
