name: build

on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: macos-latest
            os_name: macos
          - os: ubuntu-latest
            os_name: linux
          - os: windows-latest
            os_name: windows

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1

      - name: Build, Test and Package
        if: ${{ runner.os != 'linux' }}
        shell: pwsh
        run: ./Build.ps1
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: true
          DOTNET_NOLOGO: true
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          NUGET_XMLDOC_MODE: skip

      - name: Build, Test, IntegrationTest and Package
        if: ${{ runner.os == 'linux' }}
        shell: pwsh
        run: ./Build.ps1 -EnableIntegrationTests
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: true
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          NUGET_XMLDOC_MODE: skip

      - uses: codecov/codecov-action@v1
        name: Upload coverage to Codecov
        with:
          file: ./artifacts/coverage.cobertura.xml
          flags: ${{ matrix.os_name }}

      - name: Publish NuGet packages
        uses: actions/upload-artifact@v1
        with:
          name: packages-${{ matrix.os_name }}
          path: ./artifacts/packages

      - name: Publish pre-release NuGet packages to GitHub packages
        run: dotnet nuget push "artifacts\packages\*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate  --source https://nuget.pkg.github.com/justeat/index.json
        if: ${{ github.repository_owner == 'justeat' && runner.os == 'Windows' }}

      - name: Push NuGet packages to NuGet.org
        run: dotnet nuget push "artifacts\packages\*.nupkg" --api-key ${{ secrets.NUGET_TOKEN }} --skip-duplicate --source https://api.nuget.org/v3/index.json
        if: ${{ github.repository_owner == 'justeat' && startsWith(github.ref, 'refs/tags/v') && runner.os == 'Windows' }}
