name: dependency-review

on:
  pull_request:
    branches: [main, dotnet-vnext]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Review dependencies
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          config-file: './.github/dependency-review-config.yml'
          license-check: false
          fail-on-severity: critical
